# Node.js
**/node_modules/
**/package-lock.json

# Python virtual environments
server/venv/
server/venv310/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode & system files
.vscode/
.DS_Store
Thumbs.db

# Log or debug files
*.log
*.jpg
*.png
*.webp
*.mp3
