.home-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  background-color: #ffeed2
}

.home-nav-image {
  width: 300px;
  height: 440px;
  object-fit: cover;
  object-position: center center;
  border: 6px solid #ffeed2;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-nav-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

